body{
    margin: 0;
    background-color: #091731;
    width: 100%;
}

.guia{
    color: white;
    margin-left: 5%;
}

.portada{
    background-color: black;
    position: relative;
    background-image: url(../images/vialacteaPortada.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contenido-portada{
    color: white;
    text-align: center;
    font-size: 30px;
}

.nav{
    display: flex;
    justify-content: center;
    gap: 15px;
    min-height: 10px;
}

.nav a{
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    color: white;
    text-decoration: none;
}

.nav a:hover{
    color: black;
    background-color: white;
    transition: 0.5s;
}

.introduccion{
    max-width: 100%;
  border-radius: 2%;
  padding-right: 0 auto;
  display: flex;
  padding-top: 30px;
  padding-left: 50px;
}

.texto{
    background-color: black;
    color: white;
    width: 40%;
    height: 30%;
    border-radius: 5%;
    text-align: justify;
    font-size: 20px;
    padding: 10px;
}

.texto p{
    padding: 20px;    
}

.texto h3{
    text-align: center;
}

.imagenVia{
    padding-left: 100px;
    padding-top: 50px;
}

.imagenVia img{
   border-radius: 5%;
}

.siguiente{
    display: flex;
    padding-top: 20px;
}

.texto2{
    background-color: black;
    color: white;
    border-radius: 5%;
    text-align: justify;
    font-size: 20px;
    margin-right: 40px;
    padding: 20px;
    width: 40%;
}

.texto p{
    padding: 10px;
    padding-left: 20px;
}

.texto2 h3{
    text-align: center;
}

.imagen2{
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    width: 70%;
}

.imagen2 img{
    border-radius: 5%;
}

.footer{
    background-color: black;
    color: white;
    height: 50px;
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
  }
  